<div class="sidebar">
   <div class="logopanel">
      <h1>
         <a title="Cricworm" href="/"> </a>
      </h1>
   </div>
   <div class="sidebar-inner">
      <div class="sidebar-top">
        <!--  <form action="search-result.html" method="post" class="searchform" id="search-results">
            <input type="text" class="form-control" name="keyword" placeholder="Search...">
         </form> -->
         <div class="userlogged clearfix">
            <i class="icon icons-faces-users-01"></i>
            <div class="user-details">
               <h4 class="text-capitalize">{{UserInfo.userid.username}}</h4>
               <div class="dropdown user-login">
                  <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                  <i class="online"></i><span>Available</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="menu-title">
            Navigation
         <div class="pull-right menu-settings">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
            <i class="icon-settings"></i>
            </a>
            <ul class="dropdown-menu">
               <li><a href="" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
               <li><a href="" id="remove-menu" class="remove-menu">Remove elements</a></li>
               <li><a href="" id="hide-top-sidebar" class="hide-top-sidebar">Hide user &amp; search</a></li>
            </ul>
         </div>
      </div> -->

      <!-- Sidebar Menu Begins -->

      <ul class="nav nav-sidebar">
         <li ng-click="go('/dashboard')">
            <a><i class="fa fa-dashboard"></i><span> Dashboard</span></a>
         </li>
         <li ng-click="go('/teams/list')">
            <a><i class="fa fa-flag-o"></i><span> Teams</span></a>
         </li>
         <li ng-click="go('/players/view')">
            <a><i class="fa fa-users"></i><span> Players</span></a>
         </li>
         <li ng-click="go('/tournament/view')">
            <a><i class="fa fa-globe"></i><span> Tournaments</span></a>
         </li>
         <li ng-click="go('/match/list')">
            <a><i class="fa fa-trophy"></i><span> Match</span></a>
         </li>
         <li ng-click="go('/scores/list')">
            <a><i class="fa fa-star"></i><span> Scores</span></a>
         </li>
         <li ng-click="go('/banner/list')">
            <a><i class="fa fa-image"></i><span> Banner Images</span></a>
         </li>
         <li class="nav-parent" ng-show="UserInfo.userid.role=='admin'">
           <a><i class="fa fa-users"></i><span> Users</span><span class="fa arrow"></span></a>
           <ul class="children collapse">
             <li ng-click="go('/users/create')"><a>Add new</a></li>
             <li ng-click="go('/users/list')"><a>Manage</a></li>
           </ul>
         </li>     
      <!-- Sidebar Menu Ends -->
      
      <!-- <div class="sidebar-footer clearfix">
         <a class="pull-left btn-effect" href="user-login-v1.html" data-modal="modal-1" data-rel="tooltip" data-placement="top"
            ng-click="go('/signout')"
            data-original-title="Logout">
         <i class="icon-power"></i></a>
      </div> -->
   </div>
</div>

