<div class="modal-header">
    <h2>Update Runs</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
        <form name="runsupdate">
        <table class="table table-hover">
            <thead>
                <tr style="height: 50px;">
                <td style="width: 90px; height: 50px;"> Runs</td>
                <td>
                    <input type="number" style="height: 45px;" class="form-control" placeholder="scores" ng-model="team.scores" required>
                </td>
                </tr>
                <tr style="height: 50px;">
                <td style="width: 90px; height: 50px;">Wickets</td>
                <td>
                    <input type="number" style="height: 45px;" class="form-control" placeholder="wickets" ng-model="team.wickets">
                </td>
                </tr>
                <tr style="height: 50px;">
                <td style="width: 90px; height: 50px;">overs</td>
                <td>
                    <input type="number" style="height: 45px;" class="form-control" placeholder="overs" ng-model="team.overs">
                </td>
                </tr>
                <tr style="height: 50px;">
                <td style="width: 90px; height: 50px;">balls</td>
                <td>
                    <input type="number" style="height: 45px;" class="form-control" placeholder="balls" ng-model="team.balls">
                </td>
                </tr>
            </thead>
        </table>
        </form>

         <div class="form-group" style="text-align: center;">
            <input type="button" class="btn btn-md btn-success" value="Confirm" ng-click="save()" ng-disabled="runsupdate.$error.required">
            <input type="button" class="btn btn-md btn-danger" ng-click="cancel()" value="Close">
        </div>    
        </div>
    </div>
</div>